* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cols {
  display: flex;
  height: 200px;
}

.cols div {
  flex: 1;
}

.col1 {
  background-color: orange;
  border: 1px solid black;    
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: left;
  width: 200px;
}

.col2 {
  background-color: skyblue;
  border: 1px solid black;   
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: left;
  width: 200px;
}

p {
  margin: 1em;

}