/* font */

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

/* font-family: 'ABeeZee', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* colors */

    --background: #ffb6d5;
    --black: #1C2529;
    --cream: #F5F5EF;

}

body{
    background-color: var(--background);
}

/* header init */

h1 {
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 20px;
}

/* header end */

/* main init */

.tiendas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tienda{
    width: 200px;
    padding: 20px;
}

.tienda img{
    width: 200px;
    height: 200px;
    padding: 20px;
}

.tienda p{
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    font-size: 15px;
}

.tienda a{
    text-decoration: none;
    color: var(--black);
}

.tienda a:hover{
    color: var(--cream);
}

/* main end */

/* footer init */

footer{
    position: relative;
    padding: 20px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

p .copyright{
    font-size: 0.7em;
    color: var(--black);
    text-decoration: none;
    text-transform: capitalize;
}

/* footer end */